/* aurora background */
body {
    background:
        radial-gradient(60% 80% at 10% 10%, rgba(56, 189, 248, 0.15), transparent),
        radial-gradient(50% 70% at 90% 20%, rgba(99, 102, 241, 0.18), transparent),
        radial-gradient(40% 60% at 50% 90%, rgba(168, 85, 247, 0.18), transparent),
        #05070f;
}

.css-8vs96d{
    padding: 0;
}
/* html, body, #root {
  background: transparent !important;
  margin: 0;
  padding: 0;
} */